.navbar__logo {
  width: 100px;
  margin-left: 20px;
  margin-right: 20px;
  object-fit: contain;
}
.navbar {
  background-color: #131921;
  padding-top: 1rem;
  padding-bottom: 1rem;
  display: flex;
  align-items: center;
  top: 0;
  position: sticky;
  z-index: 10;
}
.navbar__searchicon {
  color: white;
  background-color: orange;
  padding: 6px;
  height: 22px !important;
}
.navbar__searchitems {
  display: flex;
  margin-top: -2px;
  flex: 1;
}
.navbar__search {
  height: 10px;
  padding: 12px;
  border: none;
  width: 100%;
}
.navbar__nav {
  color: white;
  display: flex;
  justify-content: space-evenly;
  margin-left: 20px;
  margin-right: 20px;
}
.navbar__link {
  text-decoration: none;
  color: white;
}
.link__options {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  margin-left: 10px;
  padding: 4px;
}
.optiontwo {
  font-size: 14px;
  font-weight: 800;
  margin-bottom: 4px;
}
.optionone {
  font-size: 11px;
}
.basket__icon {
  color: white;
  margin-top: -4px;
  
}
.link__basket {
    display: flex;
    flex-direction: column;
    padding: 3px;
}
.cart__items {
  text-decoration: none;
  color: orange;
  font-size: 12px;
  margin-left: 7px;
  font-weight: 800;
}
.navbar__link:hover{
    border: 1px solid white;
}
